[submodule "src/costmap_converter"]
	path = src/costmap_converter
	url = https://github.com/rst-tu-dortmund/costmap_converter.git
[submodule "src/teb_local_planner"]
	path = src/teb_local_planner
	url = https://github.com/rst-tu-dortmund/teb_local_planner.git
