# opencv-python==4.8.1.78
ultralytics
# deep-sort-realtime==1.3.2

# torchreid -----------------------------------

Cython
h5py
six
tb-nightly
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio
torchreid

# aprilTag
pupil-apriltags

# kalmanfilter
filterpy
